*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 5px;
}

body{
    background-color: #313131;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}